DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=1234
DB_NAME=bread
JWT_SECRET=replace-with-a-long-random-secret

NICEPAY_MERCHANT_KEY=
NICEPAY_MID=nictest00m
NICEPAY_CANCEL_URL=https://webapi.nicepay.co.kr/webapi/cancel_process.jsp
